body {
min-width: 1200px;
font-size: 16px;
height: 24px;
color: #000000;
font-weigt: regular;
font-family: "Roboto", "Helvetica", "Arial", sans-serif;
margin: 0;
}
.main-header {
width: 100%;
background-color: #eeeeee;
margin-bottom: 60px;
}
.container {
width: 1200px;
padding: 0 20px;
margin: 0 auto;
}
.header-layout {
display: flex;
justify-content: space-between;
margin-bottom: 85px;
}
.header-logo {
width: 160px;
height: 65px;
padding-top: 50px;
}
.header-logo img {
width: 160px;
}
.header-navigation {
width: 440px;
margin-top: 55px;
}
.navigation {
display: flex;
justify-content: space-between;
}
/**/
.header-navigation ul  {
list-style: none;
margin: 0;
padding: 0;
}
.header-navigation a, .basket  {
display: block;
padding: 25px;
font-size: 16px;
height: 30px;
font-weigt: medium;
text-transform: uppercase;
text-decoration: none;
color: #000000;
background: lightyellow;
}
.header-navigation li  {
}
.buy {
position: relative;
width: 115px;
margin-top: 55px;
}
.header-navigation a:hover {
color: #fb565a;
}
.buy a:hover {
color: #fb565a;
}
.buy::before {
position: absolute;
content: "";
width: 15px;
height: 15px;
opacity: 0.3;
}
.buy:hover::before {
opacity: 1;
}
/*button*/
.btn {
display: block;
font-family: "Roboto", "Helvetica", "Arial", sans-serif;
font-size: 16px;
line-height: 18px;
font-weigt: medium;
text-transform: uppercase;
color: #000000;
text-align: center;
border-radius: 3px;
padding: 20px;
}
/*index*/
.for_hide {
display:none
}
.slider {
background: lightgray;
}
.slide {
padding-left: 400px;
}
.slide-title {
font-size: 55px;
height: 55px;
font-weight: medium;
width: 380px;
}
slide-description {
width: 360px;
}
.btn {
font-size: 16px;
height: 18px;
font-weight: medium;
}
main {
}
.features {
display: flex;
justify-content: space-between;
background: gray;
}
.features-item {
width: 300px;
margin-bottom: 80px;
}
.info-graph {
width: 300px;
height: 146px;
}
.about {
display: flex;
justify-content: space-between;
width: 1160px;
padding-top: 40px;
margin-bottom: 75px;
}
.about-mission {
width: 660px;
}
.about-data {
width: 360px;
}
.partners {
box-sizing: border-box;
display: flex;
justify-content: space-between;
padding: 45px 30px;
background: #d6e5f8;
}
.map{
position: relative;
display: inline-block;
}
.contact-box {
position: absolute;
width: 320px;
height: 310px;
border: 1px solid black;
top: 0;
left: 0;
}
footer {
background-color: lightblue;
}
.footer-social {
display: flex;
justify-content: space-between;
background: #ddebc9;
}
/*Каталог*/
.catalog-title {
font-size: 55px;
height: 55px;
color: #000000;
font-weigt: medium;
text-align: center;
padding-bottom: 80px;
}
.range-filter {
width: 260px;
}
.range-controls {
position: relative;
height: 80px;
margin-bottom: 15px;
padding: 0 20px;
border-radius: 5px;
background: #f1f1f1;
}
.range-controls .scale {
height: 2px;
background: #d7dcde;
margin-top: 39px;
}
/*green*/
.range-controls .bar {
width: 70%;
height: 2px;
background: #00ca74;
margin-top: 39px;
}
.range-controls .toggle {
position: absolute;
top: 30px;
left: 30px;
width: 4px;
height: 4px;
border: 8px solid #fff;
border-radius: 50%;
background: #ababab;
box-shadow: 0 2px 1px 0 #cfcfcf;
}
.range-controls .toggle-min {
left: 20px;
}
.range-controls .toggle-max {
left: 145px;
}
.price-controls {
font-size: 0;
}
.price-controls label {
font-size: 16px;
display: inline-block;
width: 50%;
}
.price-controls input {
font-size: 16px;
line-height: 22px;
width: 80px;
padding: 8px 10px;
text-align: center;
color: #283136;
margin-left: 10px;
border-radius: 5px;
background: #f1f1f1;
}
.filter-title {
font-size: 18px;
height: 30px;
font-weigt: bold;
text-transform: uppercase;
margin: 0;
}
.filter-button {
width: 260px;
border: none;
background: #eeeeee;
}
.grid-title, .things-title {
font-size: 18px;
line-height: 30px;
font-weigt: bold;
text-transform: uppercase;
text-align: left;
margin: 0;
padding: 0;
margin-bottom: 20px;
}
.grid {
width: 200px;
list-style: none;
border: none;
padding: 0;
margin: 0;
vertical-align: left;
margin-bottom: 45px;
}
.things {
width: 200px;
border: none;
padding: 0;
margin: 0;
vertical-align: left;
margin-bottom: 50px;
}
.grid-item, .things-item {
display: inline-block;
box-sizing: border-box;
position: relative;
font-size: 16px;
line-height: 20px;
width: 200px;
min-height: 25px;
margin-bottom: 15px;
}
input[type=checkbox], input[type=radio]
{display: none;}
/*radio*/
.radio:not(checked) + .grid-item {
position: relative;
padding: 0 0 10px 44px;
}
.radio:not(checked) + .grid-item::before {
content: "";
width: 25px;
height: 25px;
background-image: url("../img/radio-off.png");
position: absolute;
left: 6px;
top: 6px;
}
.radio:checked + .grid-item::after {
content: "";
width: 25px;
height: 25px;
background-image: url("../img/radio-on.png");
position: absolute;
left: 6px;
top: 6px;
}
.price-filter {
margin-top: 60px;
}
.sort-filter {
font-size: 14px;
line-height: 18px;
text-transform: uppercase;
color: #000000;
}
main {
}
.main-layout {
width: 1160px;
display: flex;
justify-content: space-between;
}
.arrows {
width: 40px;
position: relative;
}
.arrows::before {
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 0;
height: 0;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-top: 14px solid #000000;
}
.arrows::after {
content: "";
display: block;
position: absolute;
top: 0;
right: 0;
width: 0;
height: 0;
border-left: 7px solid transparent;
border-right: 7px solid transparent;
border-bottom: 14px solid #cccccc;
}
.things-item,
.grid-item {
display:block;
}
.filter-catalog {
width: 260px;
}
.item-block {
display: flex;
justify-content: space-between;
width: 760px;
flex-wrap: wrap;
}
.sort-block {
width: 760px;
display: flex;
justify-content: space-between;
}
.kind-sorter {
display: flex;
justify-content: space-between;
width: 300px;
}
.kind-sorter a {
text-decoration: none;
}
.sort-block ul {
list-style: none;
padding: 0;
margin: 0;
}
.templates {
width: 760px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
margin-top: 100px;
}
.templates-item {
position: relative;
width: 360px;
margin-bottom: 75px;
}
.templates-item::before {
position: absolute;
display: block;
left: 0;
top: -40px;
width: 360px;
height: 40px;
content: "";
background-image: url("../img/browser.png");
}
.templates-paginations ul {
display: flex;
justify-content: space-between;
width: 440px;
list-style: none;
margin: 0;
padding: 0;
margin-bottom: 60px;
}
.templates-paginations li {
background: #eeeeee;
}
.templates-paginations a {
text-decoration: none;
padding: 20px;
}
.templates-paginations li:last-child {
width: 260px;
}