body {
font-size: 16px;
height: 24px;     
color: #283136;
font-weigt: regular;
font-family: Roboto, Helvetica, Arial, sans-serif;
}
h1 {
font-size: 55px;
height: 55px;
color: #000000;
font-weigt: medium;
font-family: Roboto, Helvetica, Arial, sans-serif;
}
h2 {
font-size: 24px;
height: 30px;
color: #000000;
font-weigt: bold;
font-family: Roboto, Helvetica, Arial, sans-serif;
}


.container {
	width: 1440px;
	padding: 0 10px;
	margin: 0 auto;
	background: #f6f5e7;
}
.main-header {
	background: #eeeeee;
  }

.main-header-layout {
  display: flex;
  justify-content: space-between;
  background: gray;
margin-bottom: 75px;
 
}
  
}
.header-logo {
	width: 160px;	
	height: 65px;
		 
	}

.header-navigation {
  width: 440px;
  background: #ddebc9;    
  
}

.navigation {
	display: flex;	
  justify-content: space-between;
}
.buy {
  width: 160px;
   min-height: 70px;
    
  }
  .slide-title {

  }
  .for_hide {
  	display:none
  }

.slider {
	width: 400px;
	margin-left: 140px;
	margin-bottom: 80px;
	
	 
}
.slide-title {
	width: 400px;
	margin-bottom: 25px;
	padding: 0px; 
	height: 50px;
}

.main-container {
	background: #eeeeee;
	
	
}
.features {
	display: flex;	
  justify-content: space-between;
  background: #d6e5f8;
  margin-left: 140px;
  margin-right: 200px;
  
  
}
.features-item {
	width: 300px;
	margin-bottom: 80px;

}
.info-graph {
	width: 300px;
	height: 146px;
}
.about {
	display: flex;	
  justify-content: space-between;
  width: 1160px;
  padding-top: 40px;
  margin: 0 auto;
  background: #ddebc9;
  margin-bottom: 75px;
  
  

}
.about-mission {	
	width: 660px;
	
}
.about-data {	
	width: 360px;
}
.partners {
	box-sizing: border-box;
	display: flex;	
  justify-content: space-between;
  width: 1160px;
  padding: 45px 30px;
  margin: 0 auto;
  background: #d6e5f8;
}
.main-footer {
	width: 1440px;
	margin: 0 auto;
}
	
.footer-social {	
	display: flex;	
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  background: #ddebc9;
}
