body {
min-width: 1200px;
font-size: 16px;
height: 24px;
color: #000000;
font-weigt: regular;
font-family: Roboto, Helvetica, Arial, sans-serif;
/*margin: 0;*/
}
.main-header {
width: 100%;
background-color: #eeeeee;
margin-bottom: 60px;
}
.container {
width: 1200px;
padding: 0 20px;
margin: 0 auto;
}
.header-layout {
display: flex;
justify-content: space-between;
margin-bottom: 85px;
}
.header-logo {
width: 160px;
height: 65px;
padding-top: 50px;
}
.header-logo img {
width: 160px;
}
.header-navigation {
width: 440px;
margin-top: 55px;
}
.navigation {
display: flex;
justify-content: space-between;
}
/**/
.header-navigation ul  {
list-style: none;
margin: 0;
padding: 0;
}
.header-navigation a, .basket  {
display: block;
padding: 25px;
font-size: 16px;
height: 30px;
font-weigt: medium;
text-transform: uppercase;
text-decoration: none;
color: #000000;
background: red;
}
.header-navigation li  {
	
}
.buy {
position: relative;
width: 115px;
margin-top: 55px;
}
.header-navigation a:hover {
color: #fb565a;
}
.buy a:hover {
color: #fb565a;
}
.buy::before {
position: absolute;
content: "";
width: 15px;
height: 15px;
opacity: 0.3;
}
.buy:hover::before {
opacity: 1;
}
/**/
h1 {
font-size: 55px;
height: 55px;
color: #000000;
font-weigt: medium;
font-family: Roboto, Helvetica, Arial, sans-serif;
background: gray;
}
.for_hide {
display:none
}
.slider {
background: lightgray;
}
.slide {
padding-left: 400px;
}
.slide-title {
font-size: 55px;
height: 55px;
font-weight: medium;
width: 380px;
}
slide-description {
width: 360px;
}
.btn {
font-size: 16px;
height: 18px;
font-weight: medium;
}
main {
}
.features {
display: flex;
justify-content: space-between;
background: gray;
}
.features-item {
width: 300px;
margin-bottom: 80px;
}
.info-graph {
width: 300px;
height: 146px;
}
.about {
display: flex;
justify-content: space-between;
width: 1160px;
padding-top: 40px;
margin-bottom: 75px;
}
.about-mission {
width: 660px;
}
.about-data {
width: 360px;
}
.partners {
box-sizing: border-box;
display: flex;
justify-content: space-between;
padding: 45px 30px;
background: #d6e5f8;
}
.map{
position: relative;
display: inline-block;
}
.contact-box {
position: absolute;
width: 320px;
height: 310px;
border: 1px solid black;
top: 0;
left: 0;
}
footer {
background-color: lightblue;
}
.footer-social {
display: flex;
justify-content: space-between;
background: #ddebc9;
}
/*Каталог*/
h1 {
text-align: center;
}
.filter-title {
font-size: 18px;
height: 30px;
font-weigt: bold;
text-transform: uppercase;
margin: 0;
}
.sort-filter {
font-size: 14px;
font-weight: 18px;
text-transform: uppercase;
color: #000000;
margin: 0;
}
main {
background: lightyellow;
}
.main-layout {
width: 1160px;
display: flex;
justify-content: space-between;
}
.things-item,
.grid-item {
display:block;
}
.filter-catalog {
width: 260px;
}
.item-block {
display: flex;
justify-content: space-between;
width: 760px;
flex-direction: column;
background: lightgray;
}
.sort-block {
width: 760px;
display: flex;
justify-content: space-between;
background: lightyellow;
}
.kind-sorter {
display: flex;
justify-content: space-between;
width: 300px;
}
.kind-sorter a {
text-decoration: none;
}
.sort-block ul {
list-style: none;
}
.templates {
width: 760px;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
background: ;
}
.templates-item {
width: 360px;
margin-bottom: 35px;
}
.templates-paginations {
display: flex;
justify-content: space-between;
width: 440px;
}